$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';
@import '~pretty-checkbox/src/pretty-checkbox.scss';
@import '~bootstrap/scss/bootstrap.scss';

$pretty--color-default: #3830ad;
$pretty--color-primary: #3830ad;

@import url('https://fonts.googleapis.com/css?family=Sriracha');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
@import url('https://fonts.googleapis.com/css?family=Cousine');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,800');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,800');

@import "../../components/page/page";
@import "../../components/searchResults/searchResults";
@import "../../components/side-menu/side-menu";
@import "../../components/somethingWentWrong/somethingWentWrong";
@import "../../components/contactSubmissionSuccess/contactSubmissionSuccess";

.main-content {
  // padding-top: 56px;
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
}

.page-body {
  margin-top: 50px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(56, 48, 173, 1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(56, 48, 173, 1);
  // outline: 0 none;
}

.pagination a, .pagination span.current, .pagination span.gap {
    // float: left;
    // padding: 0 14px;
    // line-height: 38px;
    // text-decoration: none;
    // background-color: white;
    // border: 1px solid #793c8a;
    // border-left-width: 0;
}

.pagination {
  .page-item {
    a.page-link {
      &:hover {
        background-color: white;
        border-color: white;
        color: #2b41a8;
        text-decoration: underline;
      }
    }
  }
}

.page-item.active {
  .page-link {
    color: #3830ad;
    background-color: #3141a71f;
    border-color: white;
    &:hover {
      background-color: #3141a71f;
    }
  }
}
.page-link {
  color: #3830ad;
  border-color: white;
  font-size: 1.3em;
  font-weight: 300;
  font-family: "Open Sans", Arial, Helvetica, Verdana, sans-serif;
}
