<%= c("main-col") do %>
  <h2>Contact</h2>
  <p class="contact-text">
    U kunt contact opnemen met ons via onderstaand formulier. Wij proberen altijd zo snel mogelijk te antwoorden. Dit kan maximaal 5 werkdagen duren.
  </p>
<% end %>
