<section class="footer">
  <div class="container">
    <div class="footer-flex">
      <p>&copy; 2018</p>
      <%#= link_to('', 'https://github.com/Roel4811', class: "fa fa-github fa-2x clean github-icon") %>
      <p>Vragen of opmerkingen? <%= link_to("Laat het ons weten!", contact_path, remote: true) %></p>
    </div>
  </div>
</section>
