<nav id="nav" class="navbar fixed-top navbar-expand-lg navbar-light">
  <div class="container">
    <%= link_to("Powerware", root_path, class: "navbar-brand") %>
    <%#= link_to(image_tag(asset_pack_path('packs/images/telescope.svg')), root_path, class: "navbar-brand") %>
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%#= link_to "Home", root_path, class: "nav-item nav-link " + current_class?(admin_root_path) %>
        <%#= link_to "Database", root_path, class: "nav-item nav-link " + current_class?(admin_database_path) %>
        <%#= link_to "Pricing", root_path, class: "nav-item nav-link " + current_class?(root_path) %>
        <%#= link_to "Disabled", root_path, class: "nav-item nav-link " + current_class?(root_path) %>
        <span class="nav-item nav-link">Vergelijk hardwareprijzen van de grootste online aanbieders</span>
      </div>
    </div>
  </div>
</nav>
