nav.navbar {
  background-color: transparent;
  height: auto;
  -webkit-transition: height 0.5s ease; /* Safari */
  transition: background-color 0.5s ease, height 0.5s ease;
  a.navbar-brand {
    transition: opacity 0.5s ease, height 0.5s ease;
    opacity: 0;
    &.add-opacity {
      opacity: 1;
    }
    .logo-with-text {
      width: 35px;
    }
    .logo-text {
      width: 100px;
      height: 25px;
    }
  }
  .custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
  }
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .navbar-nav {
    display: flex;
    align-items: center;
    width: auto;
    margin-left: auto;
    font-size: 1.6em;
    form {
      position: relative;
      width: 260px;
      .search-submit {
        position: absolute;
        right: 5px;
        top: 5px;
        border: none;
        width: 35px;
        cursor: pointer;
      }
    }
    .nav-item {
      margin-right: 2.5rem;
      color: white;
      transition: color 0.5s ease;
      &:last-child {
        margin-left: auto;
      }
      &.active {
        // color: white;
      }
      &.black {
        color: black;
      }
    }
  }
  &.scrolled {
    background-color: rgba(255, 255, 255, 0.9);
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    .navbar-nav {
      .nav-link {
        // margin-right: 3.5rem;
      }
    }
  }
}
