<section class="banner">
  <div class="container">
    <div class="banner-content">
      <div class="banner-flex">
        <div class="content-box">
          <%= image_tag(asset_pack_path('images/telescope.svg'), class: "logo-with-text") %>
          <%= image_tag(asset_pack_path('images/logo_text.svg'), class: "logo-with-text") %>
          <p>Vergelijk hardware van de beste online aanbieders</p>
        </div>
        <%#= image_tag(asset_pack_path('images/powerbank_with_hand.svg'), class: "banner-image") %>
        <div class="partner-logo-box">
          <%= image_tag(asset_pack_path('images/logo_bol.svg'), class: "partner-logo") %>
          <%= image_tag(asset_pack_path('images/logo_coolblue.svg'), class: "partner-logo") %>
        </div>
        <h1>Powerbanks</h1>
      </div>
    </div>
  </div>
</section>
