section.banner {
  background: linear-gradient(to right,rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
              url('../../images/background_with_powerbank.svg') no-repeat top right;
  background-size: contain;
}

.banner-content {
  height: 420px;
  width: 100%;
  background-size: contain;
  // background: linear-gradient(to right, #3023AE, #EC428D);
  // -webkit-clip-path: ellipse(50% 0%, 100% -2%, 106% 102%, 65% 100%, 47% 51%);
  // clip-path: ellipse(50% 0%, 100% -2%, 106% 102%, 65% 100%, 47% 51%);
  .banner-flex {
    display: flex;
    flex-direction: column;
    height: 420px;
    h1 {
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      margin-bottom: 0;
      line-height: 31px;
    }
    .content-box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .logo-with-text {
        margin-top: 30px;
        vertical-align: bottom;
      }
      p {
        margin-top: 20px;
        font-size: 1.7em;
        font-family: 'Cousine', monospace;
        max-width: 300px
      }
    }
    .partner-logo-box {
      flex-grow: 1;
      img.partner-logo {
        width: 65px;
        margin-right: 50px;
      }
    }
    .product-type {
      font-family: 'Poppins', sans-serif;
      display: flex;
      justify-content: center;
      width: 200px;
      padding: 5px 0;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      font-size: 2em;
    }
  }
}
