.banner {
  height: 400px;
  width: 100%;
  background: linear-gradient(to right, #3023AE, #EC428D);
  -webkit-clip-path: ellipse(50% 0%, 100% -2%, 106% 102%, 65% 100%, 47% 51%);
  clip-path: ellipse(50% 0%, 100% -2%, 106% 102%, 65% 100%, 47% 51%);
}
