<%= c("page") do %>
  <%#= c("navbar") %>
  <%= c("banner") %>
  <div class="container main-content">
    <div class="row">
      <div class="col col-md-3">
        <%= c("side-menu", providers: @providers, brands: @brands, price_ranges: Product::PRICE_RANGES) %>
      </div>
      <div class="col">
        <%= c("main-col", products: @products) %>
      </div>
    </div>
  </div>
<% end %>
