<p class="about-text">
  Welkom op Hardwarehub. Hardwarehub is een experiment om het vinden van producten in prouctgroepen met veel variaties te vergemakkelijken.
  Via Hardwarehub kunt u vervolgens de meest gunstige aanbieder kiezen. Hardwarehub staat voor een simpele gebruikservaring zonder banners en popups.

  Heeft u tips, vragen of opmerkingen dan horen wij dat graag!
</p>
